.data-wrapper h1 {
    margin: 0;
}

.data-wrapper{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #00000033;
}

.data-wrapper .data-container {
    background: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 3px 3px 7spx #ddd;
    border: 1px solid #ddd;
    height: fit-content;
    margin: auto;
}